<div *ngIf="selected">
  <app-paciente-detail [PacienteDetail]="selectedPaciente"></app-paciente-detail>
</div>

<hr />

<div class="table-container">
  <div class="table-title">Pacientes</div>
  <div class="table-and-text">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Edad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of paciente">
          <td><a routerLink="['/detalle-paciente', p.id]">{{p.nombre}}</a></td>
          <td>{{p.edad}}</td>
        </tr>
      </tbody>
    </table>
    <p class="menores">Número de menores: {{getMenoresDeEdadCount()}} </p>
  </div>
</div>